@use '@/styles/index' as s;

.card {
  display: flex;
  flex-direction: column;
  gap: s.gap(4);
}

.media {
  position: relative;
  overflow: hidden;

  display: block;
  aspect-ratio: 3 / 4;

  background: var(--background_secondary);
  border-radius: s.$br_4;
}

.image {
  object-fit: cover;
}

.body {
  display: flex;
  flex-direction: column;
  gap: s.gap(1);
}

.title {
  @include s.text_header_3;
}

.description {
  @include s.text_body_2;
  color: var(--text_secondary);
}

.price {
  margin-top: s.gap(1);

  font-family: var(--font-cormorant), serif;
  font-size: 20px;
  line-height: 1.2;
}
