@use '@/styles/index' as s;

.card {
  display: flex;
  flex-direction: column;
  gap: s.gap(4);

  &:hover .media {
    opacity: 0.8;
  }

  &:hover .title {
    color: var(--text_primary);
  }
}

.media {
  position: relative;
  overflow: hidden;

  display: block;
  aspect-ratio: 3 / 4;

  background: var(--background_secondary);
  border-radius: s.$br_4;

  transition: s.$transition;
}

.image {
  object-fit: cover;
  object-position: center;
}

.note {
  position: absolute;
  top: s.gap(4);
  left: s.gap(4);

  padding: s.gap(1.5) s.gap(3);

  background: var(--background_default);
  border-radius: s.$br_full;

  @include s.text_caption;
  color: var(--text_primary);
}

.body {
  display: flex;
  flex-direction: column;
  gap: s.gap(1);
}

.title {
  @include s.text_header_3;
  transition: s.$transition;
}

.price {
  @include s.text_body_2;
  color: var(--text_secondary);
}
