@use '@/styles/index' as s;

.footer {
  margin-top: auto;
  padding-top: var(--section_gap);

  background: var(--background_secondary);
}

.container {
  @include s.glass(s.$width_lg);

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.4fr;
  gap: s.gap(8);

  padding-bottom: s.gap(12);

  @include s.media_down(md) {
    grid-template-columns: 1fr;
  }
}
