@use '@/styles/index' as s;

.hero {
  padding: var(--section_gap) 0;
}

.container {
  @include s.glass(s.$width_lg);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: s.gap(12);

  @include s.media_down(lg) {
    grid-template-columns: 1fr;
    gap: s.gap(8);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: s.gap(5);
}

.overline {
  @include s.text_overline;
  color: var(--text_primary);
}

.title {
  @include s.text_display;
}

.subtitle {
  max-width: 480px;

  @include s.text_body_1;
  color: var(--text_secondary);
}
