@use '@/styles/index' as s;

.about {
  padding: var(--section_gap) 0;
  background: var(--background_secondary);
}

.container {
  @include s.glass(s.$width_lg);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: s.gap(12);

  @include s.media_down(lg) {
    grid-template-columns: 1fr;
    gap: s.gap(8);
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: s.gap(6);
}
