@use '@/styles/index' as s;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: s.gap(6);

  @include s.media_down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include s.media_down(sm) {
    grid-template-columns: 1fr;
  }
}
